<a href="https://colab.research.google.com/github/JuanSebastianSantos/PROGCOM-A/blob/main/clase_2_Estructura_de_repeticion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#estructuras de repeticion
perimite repetir una o mas acciones de un acuerdo con una condicion ( mientras se cumpla condicion)

## estructura para-for


1. cuando se sabe cuantas veces se trepite una accion.
2. esta conformado por una condiccion inicial ( CI)
una condicion final (FI) Y PASOS (frecuencia de repeticon)
3. esta estructura no se dentendra, hasta alcanzar CF-1

Estructura general de el for


```
for(variable) in range(CI,CF+1, paso):
  Se repite (CF+1-CI)

```
Estructura resumida de el for


```
for(variable)in range(cantidad):
  Se repite cantidad de veces una accion
```
Estructura for como iteracion
1. para (for) itarea tantas veces, como elementos tenga la lista
2. la variable toma el valor de cada elemento de la lista por iteracion


```
Lista =[1,2,3,4,5]
for( variable) in lista:
    Se repite len(lista)
```

In [ ]:
#hacer la tabla de multiplicar de un umero n
n=int(input("digita un numero:"))

digita un numero:7

In [ ]:
print(f"tabla del {n}")
for holitas in range(1,11,1):
    print(f"{n} x {holitas} = {n*holitas}")

tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
print ("tablas de el 1 al 10")
for tabla in range ( 1,11,1):
  print(f"tabla del {tabla}")
    for numero in range (1,11):
       print(f"{tabla}x  {numero}  = {tabla*numero}")
       print("")

IndentationError: unexpected indent (ipython-input-388672093.py, line 4)

In [ ]:
print(f"tabla del {n}")
for holitas in  range(10):
  print(f"{n} x {holitas+1} = {n*(holitas+1)}")

tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
dahlia=3 #variable de tiempo numerico, int
rosa="cinco" #VAriable de tipo alfanumerico, str
flores=["amapola", "tulipan", "lengua de suegra", dahlia, rosa]

4. Manual.


```
Lista2=[dato1, dato2, dato3...datoN]
```
5. Siempre son finitas
6. SOn indexadas


```
Lista2=[dato1, dato2, dato3...datoN]

```
dato1 esta en el index 0
dato2 esta ubicado en el index 1
7. Estructuras **para** para la creacion de listas

```
#Ejemplo: Crear una lista de 5 elementos
lista=[] #para que el programa sepa que es una lista
for loquesea in range (5):
   Lista=input("Ingrese el nombre de una flor")

```

In [ ]:
Lista=[]
for loquesea in range (5):
   Lista=input("Ingrese el nombre de una flor")

In [ ]:
flores

In [ ]:
#quiero saber quien esta en la primera posicion
flores[0]

Saber quien esta en la ultima posicion

In [ ]:
flores[4]

In [ ]:
len (flores)

In [ ]:
flores[len(flores)-1]

In [ ]:
flores.indec("lengua de suegra")

ESTRUCTURAS DE REPETICION

1.

In [ ]:
numeros = [5, -3, 0]

for n in numeros:
    if n > 0:
        print(f"{n} es positivo")
    else:

2.

In [ ]:
edades = [15, 20, 18]

for edad in edades:
    if edad >= 18:
        print(f"{edad} años → Mayor de edad")
    else:
        print(f"{edad} años → Menor de edad")

3.

4.

In [ ]:
calificaciones = [59, 60, 85, 40]

for c in calificaciones:
    if c >= 60:
        print(f"{c} → Aprobado")
    else:
        print(f"{c} → Reprobado")

5.

In [ ]:
numeros = [2, 7, 10, 13]

for n in numeros:
    if n % 2 == 0:
        print(f"{n} es par")
    else:
        print(f"{n} es impar")

6.

In [ ]:
trios = [(5, 9, 3), (10, 20, 15), (7, 7, 7)]

for a, b, c in trios:
    mayor = max([a, b, c])
    print(f"Entre {a}, {b}, {c} el mayor es {mayor}")

7.

In [ ]:
años = [2020, 2021, 1900, 2000]

for año in años:
    if (año % 4 == 0 and año % 100 != 0) or (año % 400 == 0):
        print(f"{año} es bisiesto")
    else:
        print(f"{año} no es bisiesto")

8.

In [ ]:
contrasenas = ["Hola123", "Password1", "ClaveSegura2025", "abc"]

for c in contrasenas:
    if len(c) > 8 and any(ch.isdigit() for ch in c) and any(ch.isupper() for ch in c):
        print(f"{c} → Contraseña válida ")
    else:
        print(f"{c} → Contraseña inválida ")

9.

In [ ]:
numeros = [3, 5, 15, 7]

for n in numeros:
    if n % 3 == 0 and n % 5 == 0:
        print("FizzBuzz")
    elif n % 3 == 0:
        print("Fizz")
    elif n % 5 == 0:
        print("Buzz")
    else:
        print(n)

10

In [ ]:
saldo = 5000
retiros = [1000, 6000, 2500]

for monto in retiros:
    if monto <= saldo:
        saldo -= monto
        print(f"Retiro de {monto} exitoso. Saldo restante: {saldo}")
    else:
        print(f"No se puede retirar {monto}, saldo insuficiente ({saldo})")