<a href="https://colab.research.google.com/github/JuanSebastianSantos/PROGCOM-A/blob/main/tallerlistas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Crear una lista con los cuadrados de los números del 1 al 10
cuadrados = [n**2 for n in range(1, 11)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 2. Obtener una lista con los números pares del 0 al 20
pares = [n for n in range(21) if n % 2 == 0]
pares

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 3. Crear una lista con el doble de cada número del 1 al 5
dobles = [n*2 for n in range(1,6)]
dobles

[2, 4, 6, 8, 10]

In [ ]:
# 4. De la palabra "programacion", obtener solo las vocales
palabra = "programacion"
vocales = [letra for letra in palabra if letra in "aeiou"]
vocales

['o', 'a', 'a', 'i', 'o']

In [ ]:
# 5. Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas
lenguajes = ["python", "java", "c++"]
mayusculas = [lenguaje.upper() for lenguaje in lenguajes]
mayusculas

['PYTHON', 'JAVA', 'C++']

In [ ]:
# 6. Crear una lista con "par" o "impar" para los números del 1 al 10
clasificacion = ["par" if n % 2 == 0 else "impar" for n in range(1, 11)]
clasificacion

['impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par']

In [ ]:
# 7. Generar una lista de tuplas con el número y su cuadrado del 1 al 5
tuplas = [(n, n**2) for n in range(1, 6)]
tuplas

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# 8. Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3]
combinaciones = [(letra, numero) for letra in ["a", "b"] for numero in [1, 2, 3]]
combinaciones

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [ ]:
# 9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras
palabras = ["sol", "estrella", "mar", "planeta"]
largas = [p for p in palabras if len(p) > 4]
largas

['estrella', 'planeta']

In [ ]:
# 10. Clasificar la temperatura de una lista
temperaturas = [22, 27, 30, 25, 29, 31]
clima = [
    "frío" if t < 26 else "templado" if 26 <= t <= 29 else "caliente"
    for t in temperaturas
]
clima

['frío', 'templado', 'caliente', 'frío', 'templado', 'caliente']

In [ ]:
# 1. Crear una lista con los cuadrados de los números del 1 al 10
cuadrados = [n**2 for n in range(1, 11)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 2. Obtener una lista con los números pares del 0 al 20
pares = [n for n in range(21) if n % 2 == 0]
pares

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 3. Crear una lista con el doble de cada número del 1 al 5
dobles = [n*2 for n in range(1,6)]
dobles

[2, 4, 6, 8, 10]

In [ ]:
# 4. De la palabra "programacion", obtener solo las vocales
palabra = "programacion"
vocales = [letra for letra in palabra if letra in "aeiou"]
vocales

['o', 'a', 'a', 'i', 'o']

In [ ]:
# 5. Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas
lenguajes = ["python", "java", "c++"]
mayusculas = [lenguaje.upper() for lenguaje in lenguajes]
mayusculas

['PYTHON', 'JAVA', 'C++']

In [ ]:
# 6. Crear una lista con "par" o "impar" para los números del 1 al 10
clasificacion = ["par" if n % 2 == 0 else "impar" for n in range(1, 11)]
clasificacion

['impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par']

In [ ]:
# 7. Generar una lista de tuplas con el número y su cuadrado del 1 al 5
tuplas = [(n, n**2) for n in range(1, 6)]
tuplas

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# 8. Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3]
combinaciones = [(letra, numero) for letra in ["a", "b"] for numero in [1, 2, 3]]
combinaciones

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [ ]:
# 9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras
palabras = ["sol", "estrella", "mar", "planeta"]
largas = [p for p in palabras if len(p) > 4]
largas

['estrella', 'planeta']

In [ ]:
# 10. Clasificar la temperatura de una lista
temperaturas = [22, 27, 30, 25, 29, 31]
clima = [
    "frío" if t < 26 else "templado" if 26 <= t <= 29 else "caliente"
    for t in temperaturas
]
clima

['frío', 'templado', 'caliente', 'frío', 'templado', 'caliente']

In [ ]:
# 1. Crear una lista con los cuadrados de los números del 1 al 10
cuadrados = [n**2 for n in range(1, 11)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 2. Obtener una lista con los números pares del 0 al 20
pares = [n for n in range(21) if n % 2 == 0]
pares

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 3. Crear una lista con el doble de cada número del 1 al 5
dobles = [n*2 for n in range(1,6)]
dobles

[2, 4, 6, 8, 10]

In [ ]:
# 4. De la palabra "programacion", obtener solo las vocales
palabra = "programacion"
vocales = [letra for letra in palabra if letra in "aeiou"]
vocales

['o', 'a', 'a', 'i', 'o']

In [ ]:
# 5. Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas
lenguajes = ["python", "java", "c++"]
mayusculas = [lenguaje.upper() for lenguaje in lenguajes]
mayusculas

['PYTHON', 'JAVA', 'C++']

In [ ]:
# 6. Crear una lista con "par" o "impar" para los números del 1 al 10
clasificacion = ["par" if n % 2 == 0 else "impar" for n in range(1, 11)]
clasificacion

['impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par', 'impar', 'par']

In [ ]:
# 7. Generar una lista de tuplas con el número y su cuadrado del 1 al 5
tuplas = [(n, n**2) for n in range(1, 6)]
tuplas

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# 8. Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3]
combinaciones = [(letra, numero) for letra in ["a", "b"] for numero in [1, 2, 3]]
combinaciones

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [ ]:
# 9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras
palabras = ["sol", "estrella", "mar", "planeta"]
largas = [p for p in palabras if len(p) > 4]
largas

['estrella', 'planeta']

In [ ]:
# 10. Clasificar la temperatura de una lista
temperaturas = [22, 27, 30, 25, 29, 31]
clima = [
    "frío" if t < 26 else "templado" if 26 <= t <= 29 else "caliente"
    for t in temperaturas
]
clima

['frío', 'templado', 'caliente', 'frío', 'templado', 'caliente']